* {
    font-family: Arial, Helvetica, san-serif;
    font-size: 16px;
}

body {
    background-color: rgb(155, 84, 221);
}


main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}